In [ ]:
# 1. task
#  Which 10 companies make the most money?

SELECT
    c.company,
    CAST(SUM(tt.trip_total) AS DECIMAL(12, 0)) AS total_fare
FROM
    "chicago_taxi_db"."taxi_trips" tt 
INNER JOIN
    "chicago_taxi_db"."company" c
    ON c.company_id = tt.company_id
GROUP BY
    c.company
ORDER BY
    total_fare DESC
LIMIT 10

In [ ]:
# 2. task
# Which was the top 10 pickup community areas with the most rides?

SELECT DISTINCT
    c.community_name,
    COUNT(*) AS total_rides
FROM
    "chicago_taxi_db"."taxi_trips" tt 
INNER JOIN
    "chicago_taxi_db"."community_areas" c
    ON c.area_code = tt.pickup_community_area_id
GROUP BY
    c.community_name
ORDER BY
   total_rides DESC
LIMIT 10

In [ ]:
# 3. task
# Get the count of taxi rides per day of week.

SELECT
    COUNT(*) AS number_of_rides,
    CASE
        WHEN d.day_of_week = 1 THEN 'Monday'
        WHEN d.day_of_week = 2 THEN 'Tuesday'
        WHEN d.day_of_week = 3 THEN 'Wednesday'
        WHEN d.day_of_week = 4 THEN 'Thursday'
        WHEN d.day_of_week = 5 THEN 'Friday'
        WHEN d.day_of_week = 6 THEN 'Saturday'
        WHEN d.day_of_week = 7 THEN 'Sunday'
    END AS day_name
FROM
    "chicago_taxi_db"."taxi_trips" tt
INNER JOIN
    "chicago_taxi_db"."date" d
    ON d.date = tt.datetime_for_weather
GROUP BY
    d.day_of_week
ORDER BY
    number_of_rides DESC